@import"../Scss/indexdisktop";




* {box-sizing: border-box}

html, body{
  margin: 30px;
  background-color: rgb(216, 172, 194);
}

.container {
  padding: 3px;
  margin-left: -2px;
  
}
.form-group{
  margin-bottom: 40px;

}

.form-group input{
  border: 3px solid #f0f0f0;
  border-radius: 4px;
	

}

.form-group.success input{
  border-color: rgb(142, 243, 142);
}

.form-group.error input{
  border-color: rgb(245, 130, 130);
}


.form-group i{
  position: relative;
  visibility: hidden;
  bottom:40px;
  left: 560px;

  
}


.form-group.success i.fa-check-circle{
  visibility: visible;
  color: green;

}

.form-group.error i.fa-exclamation-circle{
  visibility: visible;
  color:red;
  left: 540px;
}

.form-group small{
  visibility: hidden;
  
  
 }

 .form-group.error small{
  visibility: visible;
  color:red;
 

}
 

.row{
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
 
}

.part2{
  margin-top: 100px;
  margin-left: 20px;
  border: solid rgb(230, 224, 224);
  height: auto;
}


 .panel, .flip {
   padding: 5px;
   text-align: left;
   font-weight: bold;
   background-color: #e5eecc;
   border: solid 1px #c3c3c3;
 }
 

.panel {
   
   display: none;
  
   padding: 3px;
  
 }
 
 #part{
  
  margin-right: 0;
  
 }

.fa{
  border: solid black;
}

.panel label{
  font-size: 12px;
  font-weight: bold;
  width: 60px;
  padding-left: 0;
  margin-left: 0;
  color: black;
  
}
.panel span{
  font-size: 12px;
  margin-left: 10px;
  padding-left: 0;
  color: rgb(70, 70, 57);
 
 
}

.show{
  display: flex;
}
.fix{
  float: left;
}


#userstreet{
margin-left: 10px;
font-size: 12px;
color: rgb(70, 70, 57);
}
