@import"../Scss/indexdisktop";




* {box-sizing: border-box}

html, body{
  margin: 30px;
  background-color: rgb(216, 197, 172);
}

.container {
  padding: 3px;
  margin-left: -2px;;
}
.form-group{
  margin-bottom: 40px;

}


.row{
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
 
}

.part2{
  margin-top: 100px;
  margin-left: 20px;
  border: solid rgb(230, 224, 224);
  height: 700px;
}


 


